.container {
  height: 50px;
  background-color: blue;

  padding: 15px;
  margin-bottom: 30px;

  display: flex;

  color: white;
  font-weight: bold;
}

.right {
  margin-left: auto;
}

.cartButton {
  font-weight: normal;
  text-decoration: none !important;
  color: white;

  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 10px;
}

.cartButton:hover {
  color: blue;
  background-color: white;
}
